body {
  background: dodgerblue;
  /* background: blueviolet; */
}
h1{color:white}
h2{color:white}
h3{color:white}
body
pre {
  background: white;
  border: none ! important;
  outline: none ! important;
  border-radius: 0 ! important;
  padding: 5px ! important;
}
p {
  color: white;
}
.form_order_success{
  display:none;
}
.form_order{
  display:none;
}
.cart_add_status{
  display: none;
}
